h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.headerPic{
    float:right;
}
.centerImg, h1, h4{
    margin-left: 300px;
}
.first{
    margin-left: 300px;
    
}
.form{
    background-image: url(https://raw.githubusercontent.com/LTUC/amman-201d12/main/class-10/lab-a/lab-assets/list-bg.png);
}
fieldset{
    background-image: url(https://raw.githubusercontent.com/LTUC/amman-201d12/main/class-10/lab-a/lab-assets/list-bg.png);
}
form{
    display:block;
    text-align: center;
}
p{
    text-align: center;
    display:inline;
    margin-left: 300px;
    margin-right: 300px;

}
.headerPic{
    margin-bottom: 100px;
}
footer{
    margin-left: 300px;
}
footer > p{
    margin-left:50px;
    margin-top: 1px;
    margin-bottom: 200px;
}
